@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>This Site Created By James Kennedy</h2>

<table>
    <tr>
        <th>
            Date | 
        </th>
        <th>
            26 March 2018
        </th>
    </tr>
    <tr>
        <th>
            Contoso University Assignment
        </th>
    </tr>
</table>