@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University - Build Your Future</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            Contoso University is a totally real online university whose website uses Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
        <p>
            <img src="~/lib/laptopdude.jpg" alt="laptopdude" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Completely Legitimate</h2>
        <p>You can earn a degree through this school.  Not kidding, it's totally real! A variety of degrees are available, including ones for your dog!</p>
        <p><img src="~/lib/bearddude.jpg" alt="bearddude" /></p>
        <p><a class="btn btn-default" href="https://www.google.com/search?q=graduating+student&client=firefox-b-1-d&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiMq7rAjaHhAhXzKX0KHVWBCQgQ_AUIDigB&biw=1920&bih=954">See Real Graduates&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Experience Tranquility</h2>
        <p>We offer many online amenities, including guided meditation!</p>
        <p><img src="~/lib/zenyatta.jpg" alt="zenyatta"/></p>
        <p><a class="btn btn-default" href="https://www.google.com/search?q=zenyatta+overwatch&client=firefox-b-1-d&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjd3brFjqHhAhVWIDQIHbm5CtEQ_AUIDigB&biw=1920&bih=954">See Our Resident Robo-Buddha &raquo;</a></p>
    </div>
</div>
